/* ==========================================================================
	 BUTTONS
	 ===========================================================================*/
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus{
	outline: none;
}

.btn,
.btn[type="button"]{
	position: relative;
	display: inline-block;
	width: auto;
	min-width: 149px;
	height: 20px;
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 20px;
	line-height:20px;
	font-weight: 400;
	text-align: center;
	overflow: hidden;
	z-index: 3;
	text-decoration: none;
	vertical-align: middle;
	background:transparent;
	border:0;
	cursor: pointer;
	-ms-touch-action: manipulation;
			touch-action: manipulation;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition:all .5s ease;
	@media screen and (max-width: 1279px) {
		font-size: 15px;
	}
	>span{
		padding-left: 15px;
		padding-right: 15px;
		transition:all .5s ease;
		@media screen and (max-width: 1279px) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&:hover{
		opacity: .8;
		transition:all .5s ease;
		>span{
			transition:all .5s ease;
			padding-left: 9px;
			padding-right: 9px;
		}
	}
	&.btn_red{
		color: #fa0d25;
	}
	&.btn_full{
		width: 100% !important;
		min-width: 0 !important;
	}
}

.btn[type=button]{
	-webkit-appearance: inherit;
}
/* end buttons*/