/* ==========================================================================
   GLOBAL STYLES
   ===========================================================================*/
*,
*:before,
*:after {
	@include box-sizing(border-box);
}

html{
	width: 100%;
	font-size: 100%;
	height: 100%;
	@media screen and (max-width: 318px) {
		width: 320px;
		overflow-x:auto;
	}
}
body {
	position: relative;
	font-family: 'Playfair Display', Arial, sans-serif;
	font-size: 14px;
	line-height:1;
	font-weight: 400;
	color: #4e4e4e;
	background-color: #fff;
	overflow-x: hidden;
	width: 100%;
	min-height: 100vh;
}
.container{
	width: 100%;
}
.left{
	float: left;
}
.right{
	float: right;
}
nav ul,
ul {
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
	list-style: none;
	li {
		list-style: none;
		list-style-type:none;
	}
}
.clearfix {
	clear: both;
	&:after {
		content: "";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}
// images
img,
video {
	max-width: 100%;
	height: auto;
	&.no-responsive{
		max-width: none;
	}
}
/* FOR SAFARI */
input,
textarea{
	-webkit-overflow-scrolling: touch;
	// @include appearance(none);
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .search {
        /* remove inner shadow on iOS input */
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)));
        background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
    }
}
address{
	font-style: normal;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12{
	// @include mq('laptop', 'max') {
	// 	padding-left: 20px;
	// 	padding-right: 20px;
	// }
	// @include mq('tablet', 'max') {
	// 	padding-left: 10px;
	// 	padding-right: 10px;
	// }
}
/* end global*/