/* FIRST SCREEN */
.first{
	position: relative;
	width: 100%;
	min-height: 1065px;
	background:url('../images/svoya.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	@media screen and (max-width: 1279px) {
		min-height:571px;
	}
	@media screen and (max-width: 979px) {
		min-height: 530px;
	}
	@media screen and (max-width: 767px) {
		min-height: 480px;
		background:url('../images/svoya-320.jpg') no-repeat;
		background-position: center;
		background-size: 100%;
		background-color: #18020b;
	}
	@media screen and (max-width: 600px) {
		background-position: top center;
	}
}

/* MENU */
.btn-menu{
	position: absolute;
	z-index: 998;
	top:15px;
	left:0;
	right:0;
	margin: 0 auto;
	padding:0;
	border:0;
	width: 20px;
	height: 15px;
	background-color:transparent;
	@media screen and (min-width: 980px) {
		display:none;
	}
}

.btn-close{
	position: absolute;
	top:8px;
	left:0;
	right:0;
	padding:0;
	margin: 0 auto;
	width: 30px;
	height: 30px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	background-color:transparent;
	img{
		width:50%;
	}
	@media screen and (min-width: 980px) {
		display:none;
	}
}
.menu__logo{
	width: 309px;
	height: 73px;
	margin: 95px auto 0;
	@media screen and (min-width: 980px) {
		display:none;
	}
}
.menu{
	position: relative;
	width:100%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	@media screen and (max-width: 1279px) {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	@media screen and (max-width: 979px) {
		position: absolute;
		z-index: 999;
		top:0;
		left: 0;
		right: 0;
		width: 100%;
		background-color: #a10028;
		height: 100vh;
		transform:translateY(-100%);
		transition: transform .5s ease;
		overflow-y:auto;
		&.open{
			transform:translateY(0%);
			transition: transform .5s ease;
		}
	}
	@media screen and (min-width: 980px) {
		&.fixed{
			position:fixed;
			z-index: 9888;
			top:0;
			left:0;
			right:0;
			width:100%;
			background-color:  rgba(252, 34, 47, 0.7);
			// transition: all .5s ease;
			transform: translateY(-100%);
			.menu-list li {
				&:not(:last-child){
					border-right: 1px solid #fff;
				}
				a{
					color: #fff;
				}
			}
		}
		&.show{
			transition: all .5s ease;
			transform: translateY(0%);
		}
	}
}
.menu-list {
	width:100%;
	@media screen and (max-width: 979px) {
		padding-top: 60px;
	}
}
.menu-list li{
	display: inline-block;
	margin-right: -0.36em;
	@media screen and (min-width: 1280px) {
		br{
			display:none;
		}
	}
	@media screen and (max-width: 1279px) {
		width: 11.6%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		float: left;
		min-height: 30px;
	}
	@media screen and (max-width: 979px) {
		br{
			display:none;
		}
		display: block;
		margin: 0 auto;
		text-align: center;
		width:100%;
		float: none;
	}
}
.menu-list li:not(:last-child){
	@media screen and (min-width: 980px) {
		border-right: 1px solid #0e0d0e;
	}
}
.menu-list li a {
	display:inline-block;
	padding-left: 18px;
	padding-right: 18px;
	color: #0e0d0e;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	@media screen and (max-width: 1279px) {
		padding:0;
		font-size: 12px;
	}
	@media screen and (max-width: 979px) {
		position: relative;
		font-size: 18px;
		color: #ffffff;
		line-height: 57px;
		padding-bottom: 17px;
		&:hover{
			text-decoration: none;
		}
		&:after{
			content: '';
			position: absolute;
			bottom:0;
			left:0;
			right:0;
			display:inline-block;
			width: 27px;
			height: 1px;
			margin: 0 auto;
			background-color: #ffffff;
		}
	}
	@media screen and (max-width: 767px) {
		font-size: 14px;
		line-height: 30px;
		padding-bottom: 4px;
	}
}
.menu-list li:first-child a{
	padding-left: 0;
}
.menu-list li:last-child a{
	padding-right: 0;
}
.menu-list li a:hover{
	text-decoration: underline;
}
.list-social{
	@media screen and (min-width: 980px) {
		display:none;
	}
	@media screen and (max-width: 979px) {
		padding-top: 57px;
		padding-bottom: 30px;
		li{
			display:inline-block;
			vertical-align:top;
			&:not(:last-child){
				border-right: 1px solid #fff;
			}
			a{
				display: inline-block;
				padding: 0 42px;
				line-height:1;
			}
		}
	}
	@media screen and (max-width: 767px) {
		padding-top: 18px;
		padding-bottom: 18px;
	}
}

/* CONTENT */
.first-content{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 540px;
	display:block;
	margin: 0 auto;
	text-align: center;
	@media screen and (max-width: 1279px) {
		width:400px;
	}
	@media screen and (max-width: 979px) {
		width:360px;
	}
	@media screen and (max-width: 767px) {
		width:100%;
		padding:0 30px;
	}
}
.first-content__title{
	display:inline-block;
	color: #ffffff;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 20px;
	line-height: 25px;
	padding-bottom: 205px;
	font-weight: 300;
	@media screen and (max-width: 1279px) {
		font-size: 14px;
		line-height: 18px;
		padding-bottom: 116px;
	}
	@media screen and (max-width: 979px) {
		font-size: 12px;
		line-height: 16px;
		padding-bottom: 78px;
	}
	@media screen and (max-width: 767px) {
		padding-bottom: 20px;
	}
}
.first-content__text{
	display:inline-block;
	color: #ffffff;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 20px;
	line-height: 25px;
	font-weight: 300;
	padding-bottom: 43px;
	@media screen and (max-width: 1279px) {
		font-size: 14px;
		line-height: 18px;
		padding-bottom: 17px;
	}
	@media screen and (max-width: 979px) {
		font-size: 12px;
		line-height: 18px;
		padding-bottom: 27px;
	}
	@media screen and (max-width: 767px) {
		padding-bottom: 25px;
	}
}
/* end first screen */

/* WOMANS */
.womans{
	position: relative;
	width:100%;
	min-height: 1009px;
	background:url('../images/womans.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	@media screen and (max-width: 1279px) {
		min-height: 550px;
	}
	@media screen and (max-width: 979px) {
		min-height: 420px;
	}
	@media screen and (max-width: 767px) {
		background: url('../images/womans-320.jpg') no-repeat;
		background-size: cover;
		min-height: 480px;
	}
}
.title-style{
	margin: 0;
	width:100%;
	color: #ffffff;
	font-family: "Rosa Marena";
	font-size: 97px;
	font-weight: 400;
	line-height: 79px;
	text-align: center;
	font-style: italic;
	padding-top: 120px;
	@media screen and (max-width: 1279px) {
		font-size: 60px;
		line-height: 67px;
		padding-top: 40px;
	}
	@media screen and (max-width: 979px) {
		font-size: 50px;
		line-height: 53px;
		padding-top: 32px;
	}
	@media screen and (max-width: 767px) {
		font-size: 38px;
		line-height: 38px;
		padding-top: 48px;
	}
}
.womans-list{
	padding-top: 110px;
	text-align: center;
	@media screen and (max-width: 1279px) {
		padding-top: 10px;
	}
	@media screen and (max-width: 979px) {
		padding-top: 15px;
	}
	p{
		color: #ffffff;
		font-family: 'Roboto', Arial, sans-serif;
		font-size: 24px;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
		@media screen and (max-width: 979px) {
			font-size: 12px;
		}
	}
	ul{
		padding-top: 20px;
		@media screen and (max-width: 1279px) {
			padding-top: 5px;
		}
		@media screen and (max-width: 767px) {
			padding-top: 10px;
		}
		li{
			color: #ffffff;
			font-family: 'Roboto', Arial, sans-serif;
			font-size: 24px;
			line-height:33px;
			font-weight: 300;
			text-align: center;
			@media screen and (max-width: 1279px) {
				font-size: 16px;
				line-height: 23px;
			}
			@media screen and (max-width: 979px) {
				font-size: 12px;
				line-height:18px;
			}
			@media screen and (max-width: 767px) {
				line-height: 21px;
			}
		}
	}
}
/* end womans */
/* COMPLEX */
.complex{
	position: relative;
	width:100%;
	padding-top: 50px;
	min-height: 1009px;
	background:url('../images/complex.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	@media screen and (max-width: 1279px) {
		padding-top: 35px;
		min-height:899px;
	}
	@media screen and (max-width: 979px) {
		padding-top: 25px;
	}
	@media screen and (max-width: 1279px) {
		min-height: 790px;
	}
	@media screen and (max-width: 767px) {
		padding-top: 20px;
		min-height: 0;
	}
	.container{
		border-bottom: 4px solid #ff0000;
	}
}
.logo-section{
	position: relative;
	display:block;
	width: 233px;
	height: 213px;
	margin: 0 auto 50px;
	text-align: center;
	@media screen and (max-width: 1279px) {
		width: 140px;
		height: 140px;
		margin: 0 auto 20px;
	}
	@media screen and (max-width: 767px) {
		width:80px;
		height:80px;
		margin-bottom: 10px;
	}
}
.title-section{
	color: #fc222f;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 38px;
	text-transform: uppercase;
	text-align: center;
	@media screen and (max-width: 1279px) {
		font-size: 18px;
		line-height: 22px;
	}
	@media screen and (max-width: 767px) {
		font-size: 14px;
		line-height:19px;
	}
}
/* PHOTOS */
.complex-photos{
	width:950px;
	padding-top: 35px;
	padding-bottom: 50px;
	margin: 0 auto;
	text-align: center;
	@media screen and (max-width: 1279px) {
		padding-top: 20px;
		padding-bottom: 30px;
		width: 800px;
	}
	@media screen and (max-width: 979px) {
		width: 600px;
	}
	@media screen and (max-width: 767px) {
		width: 100%;
		padding-bottom: 10px;
	}
}
.complex-photos-item{
	width:100%;
}
.complex-photos-image{
	position: relative;
	width:100%;
	height:535px;
	overflow:hidden;
	padding: 9px;
	margin-bottom: 32px;
	text-align: center;
	border: 1px solid #ae915d;
	background-color: #ffffff;
	&:after{
		content:'';
		display: block;
		position: absolute;
		bottom:0;
		left:0;
		right:0;
		background-color:#fff;
		height:9px;
		z-index: 14;
		@media screen and (max-width: 767px) {
			height:5px;
		}
	}
	@media screen and (max-width: 1279px) {
		margin-bottom: 25px;
		height:430px;
	}
	@media screen and (max-width: 979px) {
		margin-bottom: 30px;
		height:300px;
	}
	@media screen and (max-width: 767px) {
		padding:5px;
		height:160px;
		margin-bottom: 10px;
	}
	img{
		width: 100%;
		height:auto;
	}
}
.complex-photos__title{
	color: #ae915d;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 10px;
	@media screen and (max-width: 1279px) {
		font-size: 18px;
		line-height: 22px;
	}
	@media screen and (max-width: 767px) {
		font-size: 16px;
		line-height: 19px;
	}
}
.complex-photos__text{
	padding:0 100px;
	color: #4e4e4e;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	@media screen and (max-width: 1279px) {
		font-size: 14px;
		line-height: 17px;
	}
	@media screen and (max-width: 979px) {
		padding-left: 0;
		padding-right: 0;
	}
	@media screen and (max-width: 767px) {
		font-size: 13px;
	}
}
/* end complex */

/* TERRITORY */
.territory{
	width:100%;
	padding-top: 57px;
	padding-bottom: 77px;
	background-color:#fff;
	@media screen and (max-width: 1279px) {
		padding-top: 33px;
		padding-bottom: 17px;
	}
	@media screen and (max-width: 767px) {
		padding-top: 22px;
	}
}
.territory-block{
	@media screen and (min-width: 768px) {
		width: (100% / 3);
		float: left;
	}
	@media screen and (max-width: 767px) {
		&:not(:last-child){
			padding-bottom: 10px;
		}
	}
}
.territory-block__title{
	position: relative;
	color: #fc222f;
	font-size: 24px;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 400;
	line-height: 38px;
	text-transform: uppercase;
	padding-bottom: 25px;
	margin-top: 0;
	margin-bottom: 18px;
	@media screen and (max-width: 1279px) {
		font-size: 18px;
		margin-bottom: 15px;
	}
	@media screen and (max-width: 979px) {
		margin-bottom: 25px;
	}
	@media screen and (max-width: 767px) {
		margin-bottom: 8px;
		padding-bottom: 5px;
	}
	&:after{
		content:'';
		position: absolute;
		bottom:0;
		left:0;
		display:inline-block;
		width: 325px;
		height: 1px;
		background-color: #a6905d;
		@media screen and (max-width: 1279px) {
			width:80%;
		}
	}
}
.territory-block__title-list{
	margin: 0;
	color: #fc222f;
	font-size: 18px;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300;
	line-height: 38px;
	text-transform: uppercase;
	@media screen and (max-width: 1279px) {
		font-size: 14px;
	}
	@media screen and (max-width: 979px) {
		padding-right: 5px;
		line-height:1.3;
		margin-bottom: 5px;
	}
}
.territory-list{
	position: relative;
	width:100%;
	text-align: left;
	margin-bottom: 27px;
	@media screen and (max-width: 1279px) {
		padding-top: 5px;
		margin-bottom: 0;
		min-height: 232px;
	}
	@media screen and (max-width: 979px) {
		min-height: 212px;
	}
	@media screen and (max-width: 767px) {
		min-height: 0;
	}
	li{
		position: relative;
		color: #4e4e4e;
		font-family: 'Roboto', Arial, sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 24px;
		list-style: none;
		padding-left: 31px;
		@media screen and (max-width: 1279px) {
			font-size: 14px;
			line-height: 24px;
		}
		&:before{
			content: "\2022";
			position: absolute;
			top: 50%;
			transform:translateY(-50%);
			left:0;
			display:inline-block;
			font-size: 25px;
			line-height:10px;
			color: #ae915d;
		}
	}
}
.territory-block__text{
	color: #fc222f;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height:22px;
	padding-right: 20px;
	@media screen and (max-width: 1279px) {
		font-size: 14px;
		line-height:18px;
	}
	@media screen and (max-width: 979px) {
		font-size: 13px;
		padding-right: 5px;
	}
}
/* end territory */
/* WOMAN */
.woman{
	position: relative;
	display:block;
	width:100%;
	min-height: 1074px;
	@media screen and (max-width: 1279px) {
		min-height:570px;
	}
	@media screen and (max-width: 979px) {
		min-height: 425px;
	}
	@media screen and (max-width: 767px) {
		min-height:425px;
	}
	&.woman_odri{
		background: url('../images/woman-1.jpg') no-repeat;
		background-size: cover;
		background-position: center center;
		@media screen and (max-width: 767px) {
			background: url('../images/woman-1-320.jpg') no-repeat;
			background-size: cover;
			background-position: center bottom;
		}
	}
	&.woman_gret{
		background: url('../images/woman-2.jpg') no-repeat;
		background-size: cover;
		background-position: center center;
		@media screen and (max-width: 767px) {
			background: url('../images/woman-2-320.jpg') no-repeat;
			background-size: cover;
			background-position: center bottom;
		}
		.woman-content{
			bottom:155px;
			padding-left: 290px;
			@media screen and (max-width: 1439px) {
				padding-left: 160px;
			}
			@media screen and (max-width: 1279px) {
				padding-left: 170px;
				bottom: 85px;
			}
			@media screen and (max-width: 979px) {
				padding-left: 60px;
				bottom: 40px;
			}
			@media screen and (max-width: 767px) {
				padding: 0;
				bottom: 32px;
			}
		}
		.woman__title{
			text-align: left;
			@media screen and (max-width: 1279px) {
				line-height:47px;
			}
			@media screen and (max-width: 767px) {
				text-align: right;
				line-height: 38px;
				float: right;
			}
			&:first-child{
				padding-right: 0;
				margin-bottom: 0px;
				@media screen and (max-width: 767px) {
					width: 53%;
					padding-right: 20px;
				}
			}
			&:last-child{
				padding-left: 50px;
				@media screen and (max-width: 767px) {
					padding-left: 0;
					width: 100%;
					padding-right: 20px;
				}
			}
		}
	}
}
.woman-content{
	width:100%;
	position: absolute;
	bottom:135px;
	left:0;
	right: 0;
	margin:  auto;
	@media screen and (max-width: 1279px) {
		bottom:65px;
	}
	@media screen and (max-width: 979px) {
		text-align: left;
		padding-left: 20px;
		bottom: 25px;
	}
}
.woman__title{
	color: #ffffff;
	font-family: "Rosa Marena";
	font-size: 90px;
	font-weight: 400;
	line-height: 90px;
	text-align: center;
	@media screen and (max-width: 1279px) {
		font-size: 50px;
		line-height: 60px;
	}
	@media screen and (max-width: 979px) {
		font-size: 38px;
		line-height: 50px;
	}
	@media screen and (max-width: 767px) {
		text-align: left;
		font-size: 30px;
		line-height: 35px;
	}
	&:first-child{
		padding-right: 300px;
		margin-bottom: 27px;
		@media screen and (max-width: 1279px) {
			padding-right: 150px;
			margin-bottom: 0px;
		}
		@media screen and (max-width: 979px) {
			padding-right: 260px;
		}
		@media screen and (max-width: 767px) {
			padding-right: 0;
			width: 52%;
		}
	}
	&:last-child{
		padding-left: 620px;
		@media screen and (max-width: 1279px) {
			padding-left: 330px;
		}
		@media screen and (max-width: 979px) {
			padding-left: 260px;
		}
		@media screen and (max-width: 767px) {
			padding-left: 0;
		}
	}
}
/* end woman */
/* SERVICE */
.service{
	width:100%;
	min-height:1163px;
	text-align: center;
	background: url('../images/svoya-red.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	@media screen and (max-width: 1279px) {
		min-height: 812px;
	}
	@media screen and (max-width: 979px) {
		min-height: 700px;
	}
	@media screen and (max-width: 767px) {
		padding-bottom: 20px;
	}
}
.title-box{
	position: relative;
	display:inline-block;
	margin: 60px auto;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #ffffff;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
	@media screen and (max-width: 1279px) {
		margin: 30px auto 20px;
		padding-top: 30px;
		padding-bottom: 20px;
		padding-left: 30px;
		padding-right: 30px;
		font-size: 24px;
		line-height: 28px;
	}
	@media screen and (max-width: 979px) {
		font-size: 18px;
		line-height: 22px;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 50px;
		padding-right: 50px;
	}
	@media screen and (max-width: 767px) {
		width:100%;
		margin: 15px auto 15px;
		font-size: 16px;
		line-height: 19px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 20px;
		padding-right: 20px;
	}
	small{
		color: #ffffff;
		font-family: 'Roboto', Arial, sans-serif;
		text-transform: none;
		font-size: 21px;
		font-weight: 300;
		@media screen and (max-width: 1279px) {
			font-size: 14px;
		}
	}
	&:after{
		content: '';
		display:inline-block;
		position: absolute;
		right:0;
		top:0;
		height:100%;
		width:18px;
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAACbCAYAAABvcctHAAAAoklEQVRoQ+3YMQ6AMAxD0fZm3JyjBYkBREVxJdbHSpvhy3Hc9KraWmt7+/l1hSLBHk8MB6qq3u4odFPBKKsKI4xeCLARNpIbAyOMTgKmSBYCRhiZtJ8a0CJaRItokScBbxE5O/siRhh5iyxqQNDKoDDCSBgVRoXRmQY4JIfkkBySQ3LIi4BtjU1EHosYYWRbs6gBOTuDmjKa/cglh1ijUER2AKKRak4GT/ZvAAAAAElFTkSuQmCC') no-repeat;
		background-size: 100%;
		@media screen and (max-width: 1279px) {
			background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAABpCAYAAAA3K3NVAAAAgElEQVRYR+3XMQ6AMAxD0fRm3JyjBYkFUQFGYmB5ndMMX3bijO5eqmqtj29oFAmOWDEVdHdf/dHooIJRVhVGGF0QMEaMkWwMjDDaCdgiWQgYYWTTPmqARViERVjkTMAtImfnuYgRRm6RlxoQtDIojDASRn8Oo3cmzNKcMqRGEdkGajGi1acRgAUAAAAASUVORK5CYII=') no-repeat;
			background-size: 100%;
		}
	}
	&:before{
		content: '';
		display:inline-block;
		position: absolute;
		left:0;
		top:0;
		height:100%;
		width:18px;
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAACbCAYAAABvcctHAAAApElEQVRoQ+3aSwqAMBCDYedo3v9QFTe+sKagK/ncqqX8ZDLp0Gqtten9M5eFEsU+o6qq9PfxfRe2hTZMGGVFYYTRHQE2wkZyZWCE0UpAF8k6wAgjnfZRA0pEiSgRJXIh4CwiZ2djxAgjZ5ExDQhamRNGGAmjwqgw2tMAh+SQHJJDckgOuRMwrTGJyH0RI4xMa8Y0IGdnTl9dPu1fZch7OH/x4x0tQbJt1/BAyD4AAAAASUVORK5CYII=') no-repeat;
		background-size: 100%;
		@media screen and (max-width: 1279px) {
			background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAABpCAYAAAA3K3NVAAAAhElEQVRYR+3ZQQqFMAwFQHM073+oyN+IivUJCh9h3NaWMiRpqtXdPT1/5rJQUhwbVVWl2dvxIbaFViZGOaIYMToTUEaUkZwZjBj9BJwiOQ4YMXLSXsaAFJEiUkSKHATcRfTZuTAyYuQuci8GNFrZiREjzeifm9Ecgvs33voHOf6i9f0dLa9kpZY9nVvXAAAAAElFTkSuQmCC') no-repeat;
			background-size: 100%;
		}
	}
}
.service-list{
	width: 100%;
	padding:0 50px;
	padding-top: 16px;
	text-align: center;
	@media screen and (max-width: 1279px) {
		padding: 0 20px;
		padding-top: 16px;
	}
	@media screen and (max-width: 767px) {
		padding-top: 10px;
		padding-left: 0;
		padding-right: 0;
	}
	.row{
		margin-left: -20px;
		margin-right: -20px;
		@media screen and (max-width: 979px) {
			margin-left: -10px;
			margin-right: -10px;
		}
	}
}
.service-list-item{
	display:block;
	float: left;
	width:33.3333%;
	height: 500px;
	padding-left: 20px;
	padding-right: 20px;
	@media screen and (max-width: 1279px) {
		height:390px;
	}
	@media screen and (max-width: 979px) {
		height: 320px;
		padding-left: 10px;
		padding-right: 10px;
	}
	@media screen and (max-width: 767px) {
		width:100%;
		float: none;
		height:auto;
		margin-bottom: 10px;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}
.service-list-wrap{
	width:100%;
	height:100%;
	padding:10px;
	overflow: hidden;
	border: 1px solid #ae915d;
	@media screen and (max-width: 1279px) {
		padding: 5px 10px;
	}
	@media screen and (max-width: 979px) {
		padding:5px;
	}
}
.service-list-image{
	position: relative;
	width:100%;
	height:337px;
	overflow:hidden;
	@media screen and (max-width: 1279px) {
		height: 250px;
	}
	@media screen and (max-width: 979px) {
		height:200px;
	}
	@media screen and (max-width: 767px) {
		height:230px;
	}
	&:before{
		content: '';
		display:inline-block;
		position: absolute;
		z-index: 2;
		top: 17px;
		right: 13px;
		width: 89px;
		height: 82px;
		background: url('../images/logo.svg') no-repeat;
		background-size: 100%;
	}
	img{
		width: 100%;
		height:auto;
	}
}
.service-list-content{
	width:100%;
	padding-top: 18px;
	background-color:#fff;
	height: 139px;
	@media screen and (max-width: 1279px) {
		height: 125px;
		padding-top: 15px;
	}
	@media screen and (max-width: 979px) {
		height:105px;
		padding-top: 20px;
	}
	@media screen and (max-width: 767px) {
		height: auto;
		padding-top: 20px;
		padding-bottom: 34px;
	}
	p{
		margin: 0;
		color: #1d1d1d;
		font-size: 16px;
		line-height: 21px;
		padding-top: 8px;
		font-family: 'Roboto', Arial, sans-serif;
		font-weight: 400;
		@media screen and (max-width: 1279px) {
			font-size: 14px;
			line-height: 18px;
		}
		@media screen and (max-width: 979px) {
			font-size: 12px;
			line-height: 15px;
		}
	}
}
.service-list-content__title{
	color: #1d1d1d;
	font-size: 24px;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 400;
	@media screen and (max-width: 1279px) {
		font-size: 20px;
	}
	@media screen and (max-width: 979px) {
		font-size: 16px;
	}
}
.service-text{
	width:100%;
	padding-top: 70px;
	text-align: center;
	@media screen and (max-width: 1279px) {
		padding-top: 30px;
	}
	@media screen and (max-width: 767px) {
		padding-top: 20px;
	}
	p{
		color: #ffffff;
		font-family: 'Roboto', Arial, sans-serif;
		font-weight: 400;
		line-height: 36px;
		font-size: 30px;
		@media screen and (max-width: 1279px) {
			line-height: 26px;
			font-size: 25px;
		}
		@media screen and (max-width: 979px) {
			font-size: 17px;
			line-height: 20px;
		}
		span{
			font-size: 24px;
			@media screen and (max-width: 1279px) {
				font-size: 18px;
			}
		}
	}
}
.service-text-logo{
	width: 494px;
	height: 117px;
	margin: 0 auto 45px;
	@media screen and (max-width: 1279px) {
		width: 314px;
		height: 77px;
		margin: 0 auto 35px;
	}
	@media screen and (max-width: 979px) {
		margin-bottom: 30px;
	}
	@media screen and (max-width: 767px) {
		width: 180px;
		height:40px;
	}
	img{
		width: 100%;
	}
}
/* end service */
/* SECRET */
.secret{
	padding-top: 65px;
	width:100%;
	height: 384px;
	background: url('../images/secret.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	@media screen and (max-width: 1279px) {
		padding-top: 60px;
		height: 295px;
	}
	@media screen and (max-width: 979px) {
		padding-top: 30px;
		height: 245px;
	}
	@media screen and (max-width: 767px) {
		padding-top: 17px;
		padding-bottom: 20px;
		height: auto;
	}
}
.form_secret{
	width: 60%;
	.btn{
		margin-top: 5px;
	}
	@media screen and (max-width: 1279px) {
		padding-left: 17px;
		width: 57%;
	}
	@media screen and (max-width: 979px) {
		width: 75%;
		padding-left: 0;
	}
	@media screen and (max-width: 767px) {
		width:100%;
	}
}
/* end secret */
/* SUPRISE */
.suprise{
	width:100%;
	padding-top: 76px;
	padding-bottom: 20px;
	min-height: 684px;
	background: url('../images/complex.jpg') repeat;
	background-size: cover;
	@media screen and (max-width: 1279px) {
		padding-top: 36px;
		padding-bottom: 43px;
		.title-section{
			font-size: 25px;
		}
	}
	@media screen and (max-width: 979px) {
		padding-top: 20px;
		padding-bottom: 30px;
		.title-section{
			font-size: 18px;
		}
	}
	@media screen and (max-width: 767px) {
		padding-top: 15px;
		.title-section{
			font-size: 16px;
		}
	}
}
.carousel-suprise{
	padding-top: 50px;
	@media screen and (max-width: 1279px) {
		padding-top: 20px;
	}
}
.carousel-suprise-image{
	display:block;
	float: left;
	width:56%;
	padding-top: 20px;
	text-align: center;
	@media screen and (max-width: 1439px) {
		width:50%;
	}
	@media screen and (max-width: 1279px) {
		width:100%;
	}
	@media screen and (max-width: 979px) {
		width:100%;
		padding-top: 10px;
	}
	@media screen and (max-width: 767px) {
		padding-top: 0;
	}
	img{
		display:inline-block;
	}
}
.carousel-suprise-content{
	display:block;
	float: right;
	width:44%;
	@media screen and (max-width: 1439px) {
		width:50%;
	}
	@media screen and (max-width: 1279px) {
		width:100%;
		padding: 0 100px;
		.territory-list{
			min-height: 100px;
			li{
				line-height:19px;
			}
		}
	}
	@media screen and (max-width: 979px) {
		padding:0 60px;
	}
	@media screen and (max-width: 767px) {
		padding:0;
		.territory-list{
			min-height: 0;
			li{
				line-height:17px;
			}
		}
	}
	p{
		color: #4e4e4e;
		font-family: 'Roboto', Arial, sans-serif;
		font-size: 14px;
		line-height:19px;
		font-weight: 400;
		@media screen and (max-width: 1279px) {
			margin-top: 20px;
			margin-bottom: 0;
		}
		@media screen and (max-width: 767px) {
			margin-top: 8px;
			font-size: 13px;
			line-height: 17px;
		}
	}
}
.carousel-suprise-content__title{
	color: #ae915d;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	@media screen and (max-width: 1279px) {
		font-size: 24px;
		line-height: 26px;
	}
	@media screen and (max-width: 767px) {
		font-size: 16px;
		line-height: 20px;
	}
}
/* end suprise */
/* INFO */
.section-info{
	width:100%;
	min-height: 606px;
	background: url('../images/svoya-red2.jpg') repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	@media screen and (max-width: 1279px) {
		min-height: 340px;
	}
	@media screen and (max-width: 979px) {
		min-height: 272px;
	}
	@media screen and (max-width: 767px) {
		min-height: 225px;
	}
	.title-box{
		width:838px;
		margin: 125px auto 70px;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 30px;
		padding-bottom: 30px;
		@media screen and (max-width: 1279px) {
			width: 638px;
			margin: 65px auto 70px;
			padding-left: 29px;
			padding-right: 29px;
			padding-top: 4px;
			padding-bottom: 0px;
			font-size: 24px;
			line-height: 17px;
			&:before{
				background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAABzCAYAAACVZlKoAAAAi0lEQVRoQ+3ZQQqAMBBDUedo3v9QI25ExRpBN8Jzqy3ySdK0re7u6f0zl4kSxTGjqqo0ev9+CNtEGyaMsqIwwuiKgBgRI9kZGGG0ErCKZB1ghJGV9lYDLMIiLMIiJwL2Inp2DkaMMLIXeaYBRStzwggjZVQZVUZHGpCQLxIyDz1+8dXt+vis9v9/tACZcM2gDaB9fAAAAABJRU5ErkJggg==') no-repeat;
				background-size: contain;
			}
			&:after{
				background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAABzCAYAAACVZlKoAAAAhUlEQVRoQ+3XQQ6AIBBDUbiZN/doY+LGSMCasH2sYRY/baf0qjpaa2fbPN2gSLDHG8OFqqrZG4MeKhhlVWGE0YSAGBEj2RgYYXQTsEWyEDDCyKb91ACLsAiLsMibgL+Inp1zESOM/EV+akDRyqAwwkgZVUaV0ZUGJORGQq7g5ZGDIA2KyC6M08q3kvg0LwAAAABJRU5ErkJggg==') no-repeat;
				background-size: contain;
			}
		}
		@media screen and (max-width: 979px) {
			width: 495px;
			margin-top: 30px;
			padding-top: 20px;
			line-height: 18px;
			padding-bottom: 20px;
			margin-bottom: 18px;
		}
		@media screen and (max-width: 767px) {
			width:100%;
			margin-top: 11px;
			padding-left: 20px;
			padding-right: 20px;
			font-size: 14px;
			line-height: 16px;
			padding-top: 12px;
			margin-bottom: 8px;
		}
	}
}
.section-info-logo{
	width: 511px;
	height: 121px;
	margin: 0 auto;
	@media screen and (max-width: 1279px) {
		width: 352px;
		height: 100px;
	}
	@media screen and (max-width: 767px) {
		width: 220px;
		height: 70px;
	}
	img{
		width:100%;
	}
}
/* end info */
/* GALLERY */
.gallery{
	width: 100%;
}
.gallery-list{
	width:100%;
	@media screen and (max-width: 767px) {
		display:none;
	}
	li{
		position: relative;
		display:block;
		float: left;
		width: 25%;
		height:475px;
		overflow:hidden;
		@media screen and (max-width: 1919px) {
			height: 350px;
		}
		@media screen and (max-width: 1439px) {
			height: 320px;
		}
		@media screen and (max-width: 1279px) {
			height:240px;
		}
		@media screen and (max-width: 979px) {
			height: 185px;
		}
		&:before{
			content: '';
			display:inline-block;
			position: absolute;
			z-index: 2;
			top: 17px;
			right: 13px;
			width: 89px;
			height: 82px;
			background: url('../images/logo.svg') no-repeat;
			background-size: 100%;
		}
		&:hover{
			img{
				transform: scale(1.1);
				transition: all .5s ease;
			}
		}
		img{
			width:100%;
			height:auto;
			transition: all .5s ease;
		}
	}
}
.gallery-carousel{
	width: 50%;
	float: left;
	img{
		width:100%;
		display:inline-block;
	}
	@media screen and (max-width: 767px) {
		float: none;
		width:100%;
		&:nth-child(2){
			display:none;
		}
	}
	.slick-dots{
		margin-top: 0;
		position: absolute;
		bottom:10px;
		right:0;
		left: 0;
	}
}
.gallery-carousel-item{
	width:100%;
}
/* end gallery */
/* PROGRAMM */
.programm{
	width:100%;
	min-height: 1100px;
	background: url('../images/s-woman.png') no-repeat;
	background-position: 220px -30px;
	@media screen and (max-width: 1919px) {
		background-position: 60px  -30px;
	}
	@media screen and (max-width: 1599px) {
		background-position: 30px -30px;
	}
	@media screen and (max-width: 1439px) {
		background-position: 0px -30px
	}
	@media screen and (max-width: 1366px) {
		background-position: -40px -30px;
	}
	@media screen and (max-width: 1279px) {
		min-height: 845px;
		background: url('../images/s-woman-980.png') no-repeat;
		background-position: 20px -10px;
	}
	@media screen and (max-width: 979px) {
		background: #fff;
		min-height: 810px;
	}
	@media screen and (max-width: 767px) {
		padding-bottom: 30px;
	}
}
.sublist{
	display:block;
	margin-top: 10px;
	margin-bottom: 10px;
	@media screen and (max-width: 1279px) {
		margin-bottom: 5px;
		margin-top: 5px;
	}
	@media screen and (max-width: 979px) {
		margin-bottom: 21px;
		margin-top: 0px;
	}
	@media screen and (max-width: 767px) {
		margin-top: 14px;
	}
	li{
		display:inline-block;
		color: #4e4e4e;
		font-family: 'Roboto', Arial, sans-serif;
		font-size: 16px;
		font-weight: 300;
		line-height: 27px;
		margin-bottom: 3px;
		padding-left: 0;
		@media screen and (max-width: 1279px) {
			line-height: 18px;
		}
		span {
			padding-left: 20px ;
			padding-right: 20px;
		}
		&:before{
			display:none;
		}
	}
}
.programm-content{
	padding-top: 45px;
	float: right;
	width:50%;
	text-align: center;
	@media screen and (max-width: 1279px) {
		padding-top: 20px;
	}
	@media screen and (max-width: 979px) {
		width:100%;
	}
	.territory-list{
		margin-top: 25px;
		padding-left: 54px;
		@media screen and (max-width: 1279px) {
			padding-left: 8px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		@media screen and (max-width: 979px) {
			width: 640px;
			margin: 0 auto;
			padding-top: 20px;
		}
		@media screen and (max-width: 767px) {
			width:100%;
			padding-left: 0;
		}
		>li{
			color: #ae915d;
			font-family: 'Roboto', Arial, sans-serif;
			font-size: 18px;
			font-weight: 300;
			line-height: 27px;
			@media screen and (max-width: 1279px) {
				line-height:22px;
			}
			@media screen and (max-width: 767px) {
				line-height: 17px;
			}
			&:before{
				padding-right: 18px;
				font-size: 40px;
				top: 10px;
			}
		}
	}
}
.programm-content__title{
	color: #4e4e4e;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height:28px;
	padding: 0 60px;
	@media screen and (max-width: 1279px) {
		font-size: 18px;
		line-height: 23px;
	}
	@media screen and (max-width: 979px) {
		font-size: 16px;
		line-height: 20px;
		width: 490px;
		padding:0;
		margin: 0 auto;
	}
	@media screen and (max-width: 767px) {
		width:100%;
		font-size: 14px;
		line-height: 17px;
	}
}
.programm-content-logo{
	margin-top: 50px;
	margin-bottom: 19px;
	margin-left: auto;
	margin-right: auto;
	width: 557px;
	height: 132px;
	text-align: center;
	@media screen and (max-width: 1279px) {
		width: 388px;
		height: 100px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	@media screen and (max-width: 767px) {
		width: 240px;
		height:70px;
	}
}
.pdf{
	padding-top: 35px;
	display:inline-block;
	text-align: center;
	@media screen and (max-width: 1279px) {
		padding-top: 15px;
	}
	@media screen and (max-width: 979px) {
		text-align: center;
		width:100%;
	}
	@media screen and (max-width: 767px) {
		padding-top: 25px;
	}
	img{
		display:block;
		margin: 0 auto 25px;
		width: 86px;
		height: 85px;
		@media screen and (max-width: 1279px) {
			margin-bottom: 15px;
			width: 55px;
			height: 55px;
		}
	}
}
/* end programm */
/* FOOTER */
.footer{
	position: relative;
	display:block;
	min-height: 605px;
	@media screen and (max-width: 979px) {
		min-height: 0;
	}
}
.footer-map{
	width:50%;
	float: left;
	height:605px;
	overflow:hidden;
	@media screen and (max-width: 979px) {
		width:100%;
		height:210px;
		iframe{
			height: 210px !important;
		}
	}
	@media screen and (max-width: 767px) {
		height:155px;
		iframe{
			height: 155px !important;
		}
	}
}
.footer-address{
	padding-top: 80px;
	padding-left: 90px;
	float: right;
	width:50%;
	min-height: 605px;
	height:100%;
	background: url('../images/address.jpg') no-repeat center right;
	background-size: cover;
	@media screen and (max-width: 979px) {
		width:100%;
		min-height:335px;
		padding-top: 30px;
		padding-left: 77px;
	}
	@media screen and (max-width: 767px) {
		padding-top: 25px;
		padding-left: 10px;
		padding-right: 10px;
		min-height: 230px;
	}
}
.footer-address-content{
	width:300px;
	padding-bottom: 30px;
	@media screen and (max-width: 1279px) {
		background: rgba(0, 0, 0, 0.61);
		padding: 0 30px;
		padding-bottom: 20px;
	}
	@media screen and (max-width: 979px) {
		width:250px;
	}
	@media screen and (max-width: 767px) {
		margin: 0 auto;
	}
	.title-box{
		width:100%;
		margin: 20px auto;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 50px;
		padding-right: 50px;
		&:before{
			background-position: left;
			background-size: contain;
		}
		&:after{
			background-position: right;
			background-size: contain;
		}
	}
}
.footer-address__title{
	position: relative;
	display:inline-block;
	width:100%;
	text-align: center;
	color: #ffffff;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	text-align: center;
	@media screen and (max-width: 1279px) {
		font-size: 12px;
		line-height: 15px;
	}
	>a{
		color: #fc222f;
		font-family: 'Roboto', Arial, sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		text-transform: uppercase;
		@media screen and (max-width: 1279px) {
			font-size: 15px;
			line-height: 25px;
		}
		&:hover{
			color: #fc222f;
			text-decoration: none;
		}
	}
}
.footer-address__text{
	position: relative;
	display:inline-block;
	width:100%;
	color: #ffffff;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	text-align: center;
	@media screen and (max-width: 1279px) {
		font-size: 12px;
		line-height: 15px;
	}
}
.footer-bottom{
	background-color: #fa0d25;
	@media screen and (min-width: 980px) {
		height: 38px;
		padding-top: 5px;
	}
	@media screen and (max-width: 979px) {
		padding-top: 10px;
	}
}
.footer-copyright{
	position: relative;
	float: left;
	@media screen and (max-width: 979px) {
		width:100%;
		text-align: center;
		float: none;
	}
	li{
		display:inline-block;
		vertical-align:middle;
		color: #ffffff;
		font-family: 'Roboto', Arial, sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
		@media screen and (max-width: 767px) {
			font-size: 12px;
		}
		&:not(:last-child){
			border-right: 1px solid #fff;
			padding-right: 14px;
			@media screen and (max-width: 767px) {
				padding-right: 5px;
			}
		}
		&:not(:first-child){
			padding-left: 4px;
		}
	}
}
.footer-social{
	position: relative;
	float: right;
	padding-top: 4px;
	@media screen and (max-width: 979px) {
		width:100%;
		text-align: center;
		float: none;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	li{
		display:inline-block;
		vertical-align:middle;
		&:not(:last-child){
			border-right: 1px solid #fff;
		}
		>a{
			display:inline-block;
			text-align: center;
			padding-left: 40px;
			padding-right: 40px;
			@media screen and (max-width: 767px) {
				padding-left: 35px;
				padding-right: 35px;
			}
			&:hover{
				opacity: .6;
			}
		}
	}
}
.icon-instagramm{
	display:inline-block;
	width: 20px;
	height: 21px;
}
.icon-vk{
	display:inline-block;
	width: 27px;
	height: 16px;
}
.icon-facebook{
	display:inline-block;
	width: 10px;
	height: 18px;
}
/* end footer */