/* ==========================================================================
   TYPOGRAPHY
   ===========================================================================*/
/* TEXT */
b{
	font-weight: 700;
}
.italic{
	font-style: italic;
}
.text_center{
	text-align: center !important;
}
.text_left{
	text-align: left !important;
}
.text_rigth{
	text-align: right !important;
}
.text_bold{
	font-weight: 700;
}
.text_uppercase{
	text-transform: uppercase;
}
/* LINKS */
a[href^="mailto:"],
a[href^="tel:"]{
	color: inherit;
	text-decoration: none;
	&:hover{
		color: inherit;
		text-decoration: none;
	}
}
.no-upercouse{
	text-transform: none;
}
/* end typography */