

//1. Fonts
$ff: 'Playfair Display', Arial, sans-serif;
$roboto: 'Roboto', Arial, sans-serif;
$rosa: 'Rosa Marena', Arial, sans-serif;
$arial: Arial, sans-serif;

$ff-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-serif:       Georgia, "Times New Roman", Times, serif;

$fz-base: 14px;
$lh-base: 19px;
$fw-base: 400;

// title
$ff-title: $roboto;
//font-size
$fz-h1: 27px;
$fz-h2: 24px;
$fz-h3: 18px;
$fz-h4: 16px;
//light height
$title-lh: 30px;
$title-fw:700;

//2. Colors

$primary-color: #fc222f ;
$secondary-color: #3183b8 ;

$white: #fff;
$black: #000;
$gray: #666666;
$text-color: #4d4d4d;


$body-bg: $white;
$link-color: $gray;
$link-colorh: $secondary-color;
// title color
$title-color: $text-color;
$tc-h1: $title-color;
$tc-h2: $secondary-color;
$tc-h3: $title-color;
$tc-h4: $title-color;

$error: #dd0000 ;
$success: #008f00;

//3. Buttons
// default
$btn-width: 200px;
$btn-height: 31px;
$btn-fz: $fz-base;
$btn-lh: 31px;
$btn-fw:400;
$btn-radius: 15px;
$btn-border-w: 1px;
$btn-border-c: $gray;

//4. Forms
// form
// group
$group-margin-bottom: 20px;
// input
$input-width: 100%;
$input-height: 45px;
$input-padding: 0 10px 0 20px;
$input-ff:$ff;
$input-fz:16px;
$input-lh:1.5;
$input-fw:400;
$input-tc: $gray;
$input-border: 1px solid #a7a7a7;
$input-border-radius: 22px;

$input-place-color: $gray;
$input-transition: all .3s ;
$input-bg: #fff;

// textarea
$textarea-width: 100%;
$textarea-height:100px;
$textarea-padding: 10px 14px;
$textarea-border-radius: 22px;

$point-1: 1365px;
$point-2: 1279px;
$point-3: 767px;
$point-4: 600px;
$point-5: 480px;
$point-6: 320px;

//@MEDIA

$breakpoints: (
  "phone":   481px,
  "tablet-small": 601px,
  "tablet":       768px,
  "laptop":      980px,
  "desktop":      1280px,
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
   $width: map_get($breakpoints, $width);
   @if $type == max {
    $width: $width - 1px;
   }
   @media only screen and (#{$type}-width: $width) {
    @content;
   }
  }
}
/////////
// example
// //////
// .site-header {
//   padding: 2rem;
//   font-size: 1.8rem;
//   @include mq('tablet-wide') {
//    padding-top: 4rem;
//    font-size: 2.4rem;
//   }
// }